.example-spacer {
    flex: 1 1 auto;
  }

.app-class .mat-list-item{
    margin-top: 1px;
    padding-top: 1px;
    height: auto;
    width: 100%;
}

.mat-list-item{
    margin: 10px;
    padding: 10px;
    height: auto;
    display:flex;
    flex-direction: row;
    width: 100%;
}

.mat-list{
    width:100%;
    height: 100%;
}

.example-full-width {
    width: 50%;
   
  }

  .mat-divider{
    margin: 6px;
    padding:4px;
   }   