<ion-header>
  <ion-toolbar color="light">
        <ion-buttons style="min-width: 32px;" (click)="navCtrl.back()" slot="primary"> 
                <ion-icon name="arrow-back"></ion-icon> 
             </ion-buttons>
    <ion-title>
      {{'LOGIN.LOGIN' | translate }}
      <ion-spinner *ngIf="loading" ></ion-spinner>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" >

  

  <ion-card class="ion-padding" style="border-color: gray;"> 
        <ion-item>
                <ion-input [(ngModel)]="username" [disabled]="loading"
                [placeholder]="'LOGIN.USERNAME_PLACEHOLDER' | translate " ></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-input [(ngModel)]="password" type="password" [disabled]="loading"
            [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate "></ion-input>
        </ion-item>

       <div>

       
          <div style="display: flex; width: max-content; margin-left: auto; margin-right: auto;">
            <ion-label style="line-height: 38px;"> {{ 'LOGIN.SAVE_PASSWORD' | translate }} </ion-label>
            <ion-toggle [checked]="this.configService.config.passwordSaved" [disabled]="loading"
              (ionChange)="passwordSavedChange($event)"></ion-toggle>
          </div>
        </div>
        <div style="text-align: center;">
           <label *ngIf="this.configService.config.passwordSaved" class="hint">{{ 'LOGIN.SAVED_PASSWORD_HINT' | translate }}  </label>
           <label *ngIf="!this.configService.config.passwordSaved" class="hint">{{ 'LOGIN.NOT_SAVED_PASSWORD_HINT' | translate }}</label>
        </div>
             

          
           

      
     
<!--
        <ion-card *ngIf="errorLogin" color="danger" style="text-align: center">
            <ion-card-content>
               Login Failed
            </ion-card-content>
        </ion-card>
   -->
   
        
        <ion-button  [disabled]="loading"
        style="margin-top: 16px; width: 100%;"
        (click)="login()" block>{{ 'LOGIN.LOGIN_BUTTON' | translate }}</ion-button>

      </ion-card>

<h3 style="text-align: center;font-weight: bold; margin:4px;margin-top: 20px;">OR</h3>

      <ion-button color="tertiary"  [disabled]="loading"  *ngIf="!isAndroid"  style="margin-top: 25px; width: 100%; text-align: center; cursor: pointer;" (click)="oauthLogin()">
        <ion-icon name="log-in"></ion-icon>  
       <span style="text-transform: initial; padding: 2px;">Sign In with OpenStreetMap</span> 
      </ion-button>

</ion-content>



