
    ion-header{
        height: 65px;
    }
    $tabHeight: 0;
    $searchSelectHeight : 65px;

    
    $headerHeight :56px;
    $footerHeight : 60px;



    #searchSelect{
        position: absolute;
        top:  $tabHeight;
        height: $searchSelectHeight ;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    #searchDiv{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    // ion-conten .primaryTag{
    //     margin-top: 130px;
    // }


    .listTag{
        position: relative;
        top: $searchSelectHeight +  $tabHeight;
        bottom: 50px;
        width: 100%;
        overflow-y: scroll;
    }

    #footer{
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%
    }


    .buttonSwitchType{
        width: 50%;
        margin: 0;
    }

    .example-form {
        width: 100%;
        margin: 5px;
        padding: 5px;

      }
      .example-full-width {
        width: 100%;
       margin: 2px;
       padding: 2px;
          }    
.example-spacer{
    flex: 1 1 auto;
}

.app-class {
    margin-top: 1px;
    padding-top: 1px;
    height: auto;
}
.mat-list-item-select{
    margin-top: 4px;
    padding-top: 3px;
    height:auto;
}

.mat-list-item-last{
    margin-top: 4px;
    padding-top: 4px;
    height:auto;
    overflow-y: scroll;
}

.content{
    position: absolute;
    bottom: $footerHeight;
    overflow: auto;
    top:$headerHeight; 
    width: 100%;
    background-color: white;
}
