
.example-spacer {
    flex: 1 1 auto;
  }

.mat-divider{
 margin: 4px;
 padding:2px;
}   

.example-form-field {
    width: 100%;
    margin: 8px;
    padding: 6px;
}
.app-class .mat-list-item{
    margin-top: 1px;
    padding-top: 1px;
    height: auto;
}
.mat-list{
    width:100%;
    height: 100%;
}
.icon-space{
    margin-right: 6px;
    padding-right: 4px;
}
.example-full-width {
    width: 100%;
   
  }
  .example-form {
    width: 100%;
    margin: 8px;
    padding: 6px;
  }

  .page-close{
      margin-right:4px;
      padding-right: 4px;
  }

 td {
    margin-right: 8px;
    padding-right: 4px;
  }
  tr {
    min-width:100%;
  }

